---
layout: default
title: About
permalink: /about/
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>a coder,ok just this。<br>
    Technology make the world a better place.</p></blockquote>
<h2> 关于我</h2>
    <p>你好，我是<strong>李海银，</strong>你可以叫我ReidHolmes。从郑州城市学院毕业。技术不挑剔,有一颗炽热的心和感觉有太多的事情需要学习大脑洞。我喜欢这句话:“科技改变世界,科技使世界变得更美好。“我相信是每个技术的梦想。我喜欢编程,阅读,上网,学习,旅行,摄影。我喜欢分享知识和有趣的事情与工程师更技术性的梦想。
<h2> 两个极端</h2>
<p>没有计算机相关学历但爱技术,渴望用技术改变的东西,总是像这样的话:“科技使世界变得更美好。”,体验游戏的发展和创造的乐趣。喜欢思考事情的深度,人们讨厌不耐烦,拜金主义和安逸。</p>
   
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another Frontend Development. <br>
 .</p></blockquote>
<h2> About me</h2>
    <p>Hi, I am <strong>ReidHolmes(李海银)</strong>，you can call me <strong>ReidHolmes.</strong> graduated from the City College of Zhengzhou. Technology not picky, has a warm heart and a feeling of having too many things need to learn the brain hole.
 I like the words: "technology change the world, science and technology make the world be a better place."  I believe that is the dream of every Technologyer. I like programming, reading, Internet, study, travel, photography.
  I like to share knowledge and interesting things with engineers with more technical dreams.

  <h2> The two extremes </h2>

 <p> No computer related degree but love Technology, eager to use Technology to change something, always like that words: "the Technology make the world be a better place." and experience the joy of the game of development and creation.Like the depth of thinking things, people hate impatience, money worship and the love of ease.</p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "ReidHolmes" %}
        data-thread-id="6330507495588496000"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic 
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}